body {
    color: black;
    margin-top: 5px;
}
html {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
a:link, a:visited {
    color: white;
}

a:hover {
    color: aqua;
}
h1 {
    text-decoration: underline;
}
p {
    color : red;
}